<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body class="bg-light">
  <div class="home "
    style=" height: 800px;  background-image: url('https://images.unsplash.com/photo-1585951237318-9ea5e175b891?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); background-size: cover;">
    <div class="font-weight-bold" style="padding-top:15%; text-align: center;">
      <p style="font-size: 120px;" class="text-white font-weight-bold" href="#">REK<span
          class="text-warning">CHA</span>.TN</p>
      <p style="font-size: 35px; color: #fff;font-weight: 100; margin-top: -50px; ">Films,séries TV et bien plus en
        illimité</p>
    </div>
  </div>

  <div class="container py-5 ">
    <header class="text-center mb-5">
      <h1 class="display-4 font-weight-bold">Our Films</h1>
      <p class="font-italic text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quae
        voluptates. Possimus facilis dolorum consequuntur </p>
    </header>
    <h2 class="font-weight-bold mb-2">Most watched Films</h2>
    <div class="row pb-5 mb-4">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 " *ngFor="let film of films">
        <div class="card rounded shadow-sm border-0 mb-5">
          <div class="card-body p-3">
            <img src={{film.image}} alt="" class="img-fluid d-block mx-auto mb-3">
            <h5 class=" mb-3"> <a href="#" class="text-dark text-center">{{film.idFilm}} - {{film.nomFilm}}</a></h5>
            <p>
              <span class="text-dark"><i class="fas fa-film mr-2"></i>{{film.idFilm}}</span>
              <br><span class="  text-dark"><i class="fas fa-calendar-alt mr-2"></i>{{film.dateSortie |
                date:'dd/MM/yyyy'}}</span>
              <br><span class="text-dark"><i class="fas fa-film mr-2"></i>{{film.genreFilm}}</span>
            </p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-secondary"></i></li><span
                class="badge badge-pill badge-secondary ml-2">4.0</span>
            </ul>
            <span class="p-5 ">
              <a class="btn btn-danger mr-3" (click)="supprimerFilm(film)">supprime</a>
              <a class="btn btn-success" [routerLink]="['/update-film',film.idFilm]">Modifier</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="bg-dark ">
      <p class="text-white text-center p-3 mb-0"> 2021 © <span class="text-warning">Mohamed Berrima</span> - Tous droits
        réservés </p>
    </div>
  </footer>
</body>